[memberships]
default = "starter"

[[memberships.options]]
code = "starter"
name = "Starter"
description = "A great option for newbies."
max_size_per_file = "100 MiB"
total_storage = "1 GiB"
is_restricted = false

# [[memberships.options]]
# code = "plus"
# name = "Plus"
# description = "With more storage."
# max_size_per_file = "5 GiB"
# total_storage = "50 GiB"
# monthly = { price_cents = 100, polar_product_id = "..." }
# annual = { price_cents = 1000, polar_product_id = "..." }
# is_restricted = false

# [[memberships.options]]
# code = "admin"
# name = "Admin"
# description = "Only for admin users."
# max_size_per_file = "5 GiB"
# total_storage = "50 GiB"
# is_restricted = true
