@import "tailwindcss" source("./src");
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: dark;

    --color-base-100: #09090b;
    --color-primary: #ff4c00;
    --radius-field: 1rem;
}

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: light;

    --color-primary: #ff4c00;
    --radius-field: 1rem;
}

@utility btn {
    @apply uppercase;
}

@utility fieldset {
    @apply w-full;
}

@utility file-input {
    @apply border-white w-full;

    @variant focus {
        outline: none;
    }
}

@utility form {
    @apply max-w-[640px] ml-auto mr-auto mt-4 mb-4 w-full;
}

@utility h1 {
    @apply text-2xl font-bold mb-6;
}

@utility h2 {
    @apply text-xl font-bold mb-5;
}

@utility h3 {
    @apply text-lg font-bold mb-4;
}

@utility input {
    @apply border-white w-full;

    @variant focus {
        outline: none;
    }

    @variant focus-within {
        outline: none;
    }
}

@utility main {
    @apply max-w-[1300px] mx-auto p-4;
}

@utility modal-box {
    @apply bg-[#23232b];
}

@utility select {
    @apply border-white w-full;

    @variant focus {
        outline: none;
    }
}

@utility textarea {
    @apply border-white w-full;

    @variant focus {
        outline: none;
    }
}

@layer components {
    /* Loading overlay */
    @keyframes loading-overlay-pulse {
        0% {
            background-color: #333;
            box-shadow: 0 0 0 0px #333;
        }
        100% {
            background-color: #3333;
            box-shadow: 0 0 0 64px #3333;
        }
    }

    .loading-overlay {
        @apply flex items-center justify-center fixed inset-[0] z-1000 bg-black;

        transition:
            visibility 0s 0.3s,
            background-color 0.3s;
    }

    .loading-overlay .loading-overlay-pulse {
        @apply bottom-[14px] left-[14px] m-auto h-[100px] w-[100px] rounded-full animate-[loading-overlay-pulse_1.5s_infinite];
    }

    .loading-overlay figure {
        @apply block h-[128px] w-[128px] relative;
    }

    .loading-overlay img {
        @apply block h-auto w-full;
    }

    .loading-overlay img,
    .loading-overlay .loading-overlay-pulse {
        @apply absolute;

        transition:
            visibility 0s 0.3s,
            opacity 0.3s;
    }

    .loading-overlay.loading-overlay-hidden {
        @apply bg-[#0000] invisible;
    }

    .loading-overlay.loading-overlay-hidden img,
    .loading-overlay.loading-overlay-hidden .loading-overlay-pulse {
        @apply invisible opacity-0;
    }
}
